@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "UntitledTTF";
}
*::-webkit-scrollbar {
  display: none;
}

.imgcon h1 {
  background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
}
